.text {
font-weight: 20px;
}
.container {
color:rgb(38, 141, 179);
border-radius: 10px;
}
.mainbox {
width: 400px;
margin: 10px 220px;
position: relative;
justify-content: center;
align-items: center;
text-align: center;
background-color: rgba(220, 232, 232, 0.292);

}
.welcome {
justify-content: center!important;
}


.box1{
background-color: rgb(235, 235, 236);
border-radius: 10px;
border-width: 10px;

}
.mainbox2 {
width: 400px;
position: relative;
justify-content: center;

background-color: rgba(220, 232, 232, 0.292);

}

.signin {
width: 400px;
}
.head {

position: flex;
}

.heading {
justify-content: center;
margin: 10px 150px;
}
.Bgc {
background-color: rgba(47, 164, 207, 0.595);
color:rgb(242, 238, 238)
}
.row {
position: relative;
text-align: center;
justify-content: center;

}
.login{
margin:20px 370px;
position: relative;
}
.datarow2 {
background:rgb(0, 0, 0);
color: rgb(47, 164, 207);
font-size: 20px;
position: relative;
}
.datarow3 {
background:rgb(47, 164, 207);
}



.selectBar {
width:300px;
margin:20px;
padding: 20px;
}

.nav {
display: flex;
align-items: center;
padding: 10px 30px;
margin: 10px 10px;
width: 70px;

}
.button2 {
background-color: rgb(47, 164, 207)!important;
color: rgb(231, 245, 251);
}
.button {
font-weight: 10px;
width: 5px;
}
.flex-parent {
display: flex;
}
.flex-child {
flex: 1;
}

.navmore {
text-decoration: none;
color: #5e6064;
}

Table {
width: auto;
margin-bottom: 10px;
text-align: center;

}
.datarow {
background-color: rgb(240, 236, 236)!important;
color: black!important;
font-size: 18px!important;
/* position:relative; */
width: 30px ;
margin: 0px 100px 0px 340px;
/* text-align: center; */
/* justify-content: center; */
/* align-items: center; */
}
.box {
background-color: rgba(29, 28, 28, 0.926);
color: rgb(234, 231, 231);


}

.seller {
margin: 20px;
padding: 0px;
text-align:left;
position: relative;
}

.header {
font-family: 'Vidaloka', serif;
text-shadow: 2px 1px black;
text-align: center;

}
.headbar {
background-color: rgb(47, 164, 207);
text-shadow: 1px .01px rgba(47, 47, 47, 0.10);
text-align: center;
}
.App {
  text-align: center;
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer1 {
background-color: rgb(47, 164, 207);
text-align: center;

bottom: 0;
width: 100%;
padding: 10px ;
color: white;
position:fixed;
}


